<%= form_with model: verse, local: true do |form| %>
  <% if verse.errors.any? %>
    <div>
      <h2><%= pluralize(verse.errors.count, "error") %> prevented saving:</h2>
      <ul>
        <% verse.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :reference %><br>
    <%= form.text_field :reference %>
  </div>

  <div>
    <%= form.label :scripture %><br>
    <%= form.text_area :scripture %>
  </div>

  <div>
    <%= form.label :body, "Reflection" %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit verse.persisted? ? "Update Verse" : "Create Verse" %>
    <%= link_to "Cancel", verse.persisted? ? verse_path(verse) : verses_path %>
  </div>
<% end %>
