<%= image_tag @verse.featured_image, alt: @verse.featured_image_title if @verse.featured_image.attached? %>
<% if @verse.featured_image.attached? && @verse.featured_image_attribution.present? %>
  <p>
    <% if @verse.featured_image_attribution_link.present? %>
      <%= link_to @verse.featured_image_attribution, @verse.featured_image_attribution_link, target: "_blank" %>
    <% else %>
      <%= @verse.featured_image_attribution %>
    <% end %>
  </p>
<% end %>
<h1><%= @verse.reference %></h1>
<h2>Scripture</h2>
<p><i><%= @verse.scripture %></i></p>
<h3>Reflection</h3>
<p><%= @verse.body %></p>
<%= link_to "View all", verses_path %>
<%= link_to "Home", root_path %>

<% if authenticated? %>
  <%= link_to "Edit", edit_admin_verse_path(@verse) %>
  <%= link_to "Delete", admin_verse_path(@verse), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>
