<h1><%= @verse.reference %></h1>
<h2>Scripture</h2>
<p><i><%= @verse.scripture %></i></p>
<h3>Reflection</h3>
<p><%= @verse.body %></p>
<%= link_to "View all", verses_path %>

<%= link_to "Edit", edit_verse_path(@verse) %>
<%= link_to "Delete", verse_path(@verse), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>